<script>
  function validateForm(){
  var x=document.forms["minWage"]["employee[rate]"].value;
  if (x < 7.25)
    {
    alert("Warning: Rate below Federal Minimum!");
    return true;
    }
}
</script>

<%= form_for(@employee, html: {:name=>"minWage", :onsubmit => "validateForm()" }) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</p>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
